

@font-face {
    font-family: SnowflakeSans;
    src: url(./font/snowflake/SnowflakeSans-Black.woff) format("woff"),
        url(./font/snowflake/SnowflakeSans-Black.woff2) format("woff2");
    font-weight: 900;
    font-display: swap;
}


@font-face {
    font-family: SnowflakeSans;
    src: url(./font/snowflake/SnowflakeSans-Book.woff) format("woff"),
        url(./font/snowflake/SnowflakeSans-Book.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: SnowflakeSans;
    src: url(./font/snowflake/SnowflakeSans-Bold.woff) format("woff"),
        url(./font/snowflake/SnowflakeSans-Bold.woff2) format("woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: SnowflakeSans;
    src: url(./font/snowflake/SnowflakeSans-Medium.woff) format("woff"),
        url(./font/snowflake/SnowflakeSans-Medium.woff2) format("woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: SnowflakeSans;
    src: url(./font/snowflake/SnowflakeSans-Light.woff) format("woff"),
        url(./font/snowflake/SnowflakeSans-Light.woff2) format("woff2");
    font-weight: 300;
    font-display: swap;
}